#cloud-config
write_files:
  - path: /usr/local/sbin/ephemeral-vpn-bootstrap
    owner: root:root
    permissions: "0700"
    content: |
      @@BOOTSTRAP_SCRIPT@@
runcmd:
  - [ /usr/local/sbin/ephemeral-vpn-bootstrap ]
